/*Single Selector*/
h1{
	color: blue;
}


/*Group Selector (,)*/
h2,h3,h4{
	color: green;
}

/*ID Selector*/

#japu,span{
	color: green;
}

#myself,#mm{
	color: blue;
}


/*Clas Selector*/

.ph{
	color: red;
}

.phone{
	font-size: 30px;
}


.hay{
	color: red;
	font-size: 20px;
}

#hay{
	color: green;
	font-size: 20px;
}

div{
	color:blue;
}
