.bdstyle1{
	border-style:solid;
}

.bdstyle2{
	border-style:double;
}

.bdstyle3{
	border-style:dotted;
}

.bdstyle4{
	border-style:dashed;
}

.bdstyle5{
	border-style:inset;
}

.bdstyle6{
	border-style:outset;
}


.borderdesign{
	width:300px;
	height:300px;
	

	background:yellow;
	/*background-color:orange;*/

	/*border-radius: 50px;*/

	/*border-radius:100%;*/
	/*border-radius: 50%;*/

				/*leftup rightup rightdown leftdown*/
	border-radius:20px 50px  50px 100px;

			/*s s c*/
	border:2px dashed red;
	/*border:2px dashed #1d5cc2;*/
	/*border:2px dashed rgba(21,229,127,1.00);*/
}

li{
	/*list-style-type:circle;*/
	/*list-style-type:square;*/
	/*list-style-type: decimal;*/
	list-style-type: decimal-leading-zero;

	/*list-style-type:none;*/
	/*list-style: none;*/


	/*border: 1px solid orange;*/

	border: 1px;
	border-style:solid;
	border-color:orange;

	/*list-style-position: inside;*/
	list-style-position: outside;

}





/*Attribute Selector*/

input[type="text"]{
	background-color:green;
	width: 300px;
	border-radius:30px;
	color: #fff;
}

input[type="password"]{
	background-color: silver;
	width: 300px;
	border-radius: 30px;
}



/*background-position*/

body{
	background-image:url('./../img/icon/icon1.png');
	/*background-repeat: repeat;*/
	background-repeat: no-repeat;

	/*background-position:center;*/
	/*background-position:left;*/
	/*background-position:right;*/
	/*background-position:top;*/
	/*background-position:bottom;*/

	/*background-position:right top;*/
	/*background-position:left top;*/
	/*background-position:right bottom;*/
	background-position:left bottom;

	/*background-attachment: scroll;*/
	/*background-attachment: fixed;*/


}




/*
array = []
function = name()
*/